<%- include('partial/header') %>
<%- include('partial/navbar') %>

<!-- Conteúdo Principal -->
<div class="container mt-4">
    <h1 class="text-center">OI</h1>
</div>

<%- include('partial/footer') %>