<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand me-auto" href="#" style="margin-left: 75px;">Zuge Enterprise</a>

    <div class="container">
        <!-- Logo ou Nome da Empresa (Alinhado à Esquerda) -->
  

        <!-- Botão de Toggle para Dispositivos Móveis -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links da Navbar (Alinhados à Direita) -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/perguntar">Pergunta</a>
                </li>
               

                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contato">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>